* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-color: #d7fd73;
  --secondary-color: #203136;
  --text-color: #ffffff;
}

body {
  background-color: var(--secondary-color);
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.logo {
  margin: 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo h2 {
  margin: 20px 0;
  color: #d7fd73;
}

.logo span{
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
}

#numberBox{
    background-color: var(--primary-color);
    color: black;
    font-size: 40px;
    margin: 20px ;
    font-weight: 900;
    display: flex;
}

.btn{
    text-align: center;
}

.btn button{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid var(--primary-color);
    background-color: white;
}

.loader {
  border: 5px solid var(--secondary-color);
  border-top: 5px solid var(--primary-color);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
