*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #d7fd73;
    --secondary-color: #203136;
    --text-color: #ffffff;
  }


body {
  background-color: #ffffff;
  color: black;
  font-family: Arial, sans-serif;
}

main{
    padding: 20px;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.profile-greeting{
    display: flex;
    align-items: center;
}

#avi{
    background-color: var(--primary-color);
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

#greeting{
    font-size: 20px;
    margin-left: 5px;
    width: 200px;
}

.notification{
    position: relative;
}

.fa-bell{
    color: var(--secondary-color);
    font-size: 25px;
    position: relative;
}

.notice{
    width: 15px;
    height: 15px;
    background-color: rgba(255, 0, 0, 0.676);
    border-radius: 50px;
    position: absolute;
    top: -5px;
    text-align: center;
}



/* Card container */
.card-container {
    display: flex;
    flex-wrap: nowrap; /* Ensures cards stay in a single row */
    overflow-x: scroll; /* Enables horizontal scrolling */
    scroll-snap-type: x mandatory; /* Enables snap-scrolling behavior */
    padding-bottom: 30px; /* Provides space for the indicator bars */
    margin: 30px 0 0 10px;
  }

  /* Hide scrollbar */
.card-container::-webkit-scrollbar {
    display: none;
  }

  
  /* Cards */
  .balance-card, .savings-card, .net-card{
    flex: 0 0 auto; /* Ensures cards have fixed width */
    width: 80%; /* Adjust the width as needed */
    max-width: 300px;
    height: 150px; /* Adjust the height as needed */
    margin-right: 20px; /* Adds spacing between cards */
    background-color: #f2f2f2; /* Adjust the background color as needed */
    border-radius: 10px; /* Adds rounded corners */
    scroll-snap-align: start; /* Aligns cards during scroll snap */
  }

  .balance-card{
    background-color: var(--secondary-color);
    color: white;
  }

  .savings-card{
    background-color: wheat;
  }

  .net-card{
    background-color: black;
  }

  .action-btns-container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    /* height: 70px; */
    box-shadow: 1px 1px 5px var(--secondary-color);
    padding: 10px;
    margin: 0 0 20px 0;
  }

  .action-btns-container button{
    margin-right: 10px;
  }



















  
  #balance, #savi {
    font-weight: bold;
    font-size: 20px;
    color: green;
  }
  
  

  
  button {
    padding: 8px 16px;
    border-radius: 3px;
    border: none;
    background-color: #d7fd73;
    color: #203136;
    cursor: pointer;
  }
  
  button[type="submit"] {
    margin-top: 10px;
  }
  
  